/* nav bar */
.navbar{
  position:absolute;
  z-index:10;
}
#navbarNav{
  margin-left: 50%;
}
#navbarNav a{
  color: black;
}
#navbarNav a:hover{
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
  color: #A7D3DC;
}
/* corousel */
.carousel-inner img{
  height: 300px
}
.carousel-inner img{
  object-fit:cover;
}
/* second block */
#secondBlock img{
  height: 100px;
}
/* recentwork */
#recentWork{
  background:url(../img/block3back.png);
  background-size: contain, cover;
}
#recentWork h1{
  font-family: "sarif";
  font-weight: bold;
}
#recentWork p{
  font-size: 10px;
}
#recentWork a{
  color: white;
}
#recentWork a:hover{
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  color: #9bd4a7;
}
#recentWork img{
  height: 125px;
  width:70%;
}
/* photoshop block */
#photoshop{
  background-color: #f0f0f0
}
#photoshop .browserimg img{
  height: 200px;
}
.greyBar img{
  height: 55px;
}
#photoshop h3{
  font-size:20px;
  font-weight:bold
}
#photoshop p{
  font-size: 10px;
}
#toppsd button{
  background-color:#99D3A3;
  color: white;
}
#bottompsd button{
  background-color:#A1D4DB;
  color: white;
}
/* meet our team */
#meetOur{
  background:url(../img/block5back.png);
  background-size: contain, cover;
}
#meetOur h1{
  font-family: "sarif";
  font-weight: bold;
}
#meetOur p{
  font-size: 10px;
}
#meetOur div{
  display: inline-block;
}
#meetOur img{
  height: 150px;
}
#meetOur .fa-facebook{
  color: #4267B2;
}
#meetOur .fa-twitter-square{
  color: #01ACED;
}
#meetOur .fa-pinterest-square{
  color:#BD081A;
}
/* recent post */
#recentPost{
  background:url(../img/block6back.png);
  background-size: contain, cover;
}
#recentPost h1{
  font-family: "sarif";
  font-weight: bold;
}
#recentPost p{
  font-size: 10px;
}
#recentPost div{
  display: inline-block;
}
#recentPost img{
  height: 150px;
}
#recentPost button{
  color:#B1D1DC;
}
 /* footer and contact us */
#contactUs{
  background-color: #3c3c3c;
}
#contactUs h1{
  font-family: "sarif";
  font-weight: bold;
}
#contactUs p{
  font-size: 10px;
}
#contactUs button{
  color:#3c3c3c;
}
#contactUs .fab{
  color:#515151;
}
#contactUs h7 span{
  color: #999473;
}
